<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <a href="/user/userHome"> <button class="btn btn-outline-success" type="button">My Home</button></a>
        <a href="/dungeons/mine"> <button class="btn btn-outline-success" type="button">Monster Dungeon</button></a>
        <a href="/shop/weapon-shop"> <button class="btn btn-outline-success" type="button">Weapon Shop</button></a>
        <a href="/shop/food-shop"> <button class="btn btn-outline-success" type="button">Food(Potion) Shop</button></a>
        <a href="/work"> <button class="btn btn-outline-success" type="button">Work</button></a>
        <a href="/user/backPack/1"> <button class="btn btn-outline-success" type="button"><img src="/images/backpack.png" width="1rem" height="1rem"/>BackPack</button></a>
        <a href="/user/itemtrade/page/1"> <button class="btn btn-outline-success" type="button">Item Market</button></a>
        <a href="/top-players/page/1"> <button class="btn btn-outline-success" type="button">Top Players</button></a>
        <a href="/player-battle"> <button class="btn btn-outline-success" type="button">Player Battle</button></a>


    </form>
</nav>