<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="">

<head>
    <title>Work

    </title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script th:inline="javascript">


    // Set the date we're counting down to
    document.getElementById('workCounter').onclick = GFG_click;

var countDownDate = new Date(Date.now() + 1800000).getTime();
 function GFG_click(clicked) {
// Update the count down every 1 second
var x = setInterval(function() {

  // Get todays date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);



 document.getElementById("workCounter").innerHTML = days + " days, " + hours + " hours, " +
    minutes + " minutes, & " + seconds + " seconds";





   If the count down is over, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("workCounter").innerHTML = '<a th:action="@{/work}" href="/work">Work</a>';
  }


}, 1000);
  // Output the result in an element with id="demo"
}



    </script>
</head>

<body>
<div class="container">

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout
        </button>
    </form>

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary container">
            <div class="row">
                <div class="panel-heading">
                    <span th:utext="${userName}"></span>



                    Health: <img th:src="@{/images/health.png}" width="15px" height="15px"
                                 alt="health"/><span class="i-stats" th:utext="${userHealth}"></span>
                    Mana: <img th:src="@{/images/mana.png}" width="15px" height="15px"
                               alt="mana"/><span class="i-stats" th:utext="${userMana}"></span>
                    Power: <img th:src="@{/images/power.png}" width="15px" height="15px"
                                alt="power"/><span class="i-stats" th:utext="${userPower}"></span><span
                        class="i-stats" th:utext="${userBonusPower}"></span>

                    Level: <img th:src="@{/images/level.png}" width="15px" height="15px"

                    <div th:replace="fragments/navBar">

                </div>
                <div class="panel-body">
                    <div class="col-md-4">
                        <h3><span class="i-playerName" th:class="i-playerName" th:utext="${playerName}"></span></h3>
                        <h4><span class="i-playerHealth" th:class="i-playerHealth" th:utext="${playerHealth}"></span></h4>

                        <span class="i-stats" th:utext="${successAttackMessage}"></span>
                        <img th:src="@{/images/user.png}" class="img-responsive center-block" width="200" height="200"
                             alt="User"/>
                    </div>
                    <div class="col-md-8">

                        <span class="i-success-work-message" th:utext="${successItemReceived}"></span>
                        <img src="/images/work.jpeg" class="img-responsive center-block" width="500" height="500"
                             alt="work"/>
                        <!--<th th:each = "work : ${jobs}">-->
                        <!--<h3><span class="i-monster" th:text="${food.name}"></span></h3>-->

                        <!--<p>Hp Restore: <span class="i-monster" th:text="${food.hpRestore}"></span></p>-->
                        <!--<p>Mana Restore: <span class="i-monster" th:text="${food.manaRestore}"></span></p>-->
                        <!--<p>Price: <span class="i-monster" th:text="${food.price}"></span></p>-->
                        <!--<img th:src="${food.image}" class="img-responsive center-block" width="150" height="150" >-->

                        <!--<center>-->

                        <span class="i-success-work-message" th:class="i-success-work-message" th:utext="${successWorkMessage}"></span>
                        <span class="i-error-work-message" th:class="i-error-work-message" th:utext="${errorWorkMessage}"></span>
                        <form th:action="@{/work}" method="POST">

                            <button id="workCounter" class="btn btn-md btn-warning btn-block"
                                    name="work"
                                    type="submit">Chop Woods
                            </button>
                        </form>

                        Work to earn Gold and Experience. Get 1 Gold every 30 minutes and Experience equal to level * 4. *Important. When work you can't attack monsters!
                        <!--</center>-->
                        <!--</th>-->

                    </div>


                </div>
                <p class="admin-message-text text-center" th:utext="${userMessage}"></p>
            </div>
        </div>
    </div>

</div>
</body>
</html>